
body{
    background-color: #fdfbfbd4;
}
.center{
    display:grid;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.home{
    color: rgba(69, 68, 68, 0.817);
    background-color:#fff;
    width: 100%;
    
}

.home h4{
   font-weight:border;
    color: rgba(0, 0, 0, 0.553);
    font-style: italic;
    
   
}

.img{
    position: absolute;
    border-radius: 10px;
    right: 10px;
    
}

.home ul{
    
    border:1px solid rgba(112, 114, 112, 0.208);
    padding:5px;
    border-radius:5px;
    height:100px;
    width:300px;
    color:blue;
    list-style: none;
    background-color:#fff;
   
}
.full{
    display: flex;
    overflow-x: scroll;
    width: 250px;
    height: 400px;
    flex-direction: row;
    border-radius: 10px;
    margin: auto;

}
.full2{
    
    overflow-x: scroll;
    width: 250px;
    height: 400px;
    flex-direction: row;
    border-radius: 10px;
    margin: auto;

}
